

.wp-single-wrapper {
	.wp-single-wrapper-row {
		//
		//
		.page-header {

			.page-header-title {
				width: 100%;
				border-bottom: 1px solid @grey-4;
				display: block;
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-size: 22px;
				color: @grey-4;
				padding-top: 35px;
			}
		}
		//
		//
		.section-title {
			color: @grey-4;
			text-transform: uppercase;
			font-size: 23px;
			margin: 0 0 10px 0;
			span {
				color: @grey-2;
			}
		}




		//
		//
		.postimage {
			.postimage-wrapper {
				.postimage-wrapper-imgbg {
					height: 400px;
					width: 100%;
					background-size: cover;
					background-position: center center;
					margin-top: 15px;
				}
				.postimage-wrapper-imgfile {
					height: auto;
					width: 100%;
					display: block;
					margin-top: 15px;
				}
			}
		}
		//
		//
		.aside {
			padding-top: 35px;
			.aside-photo {
				padding-left: 25%;
				img {

				}
			}
			.aside-title {
				padding-bottom: 15px;
				.aside-title-text {
					font-family: 'Open Sans', sans-serif;
					font-weight: 400;
					font-size: 30px;
					text-align: right;
					&.search-title {
						font-size: 22px;
						span {
							font-weight: 700;
						}
					}
				}
			}
			.aside-excert {
				.aside-title-text{
					line-height: 20px;
					text-align: right;
					font-size: 12px;
				}
			}
			.aside-cats {
				.aside-cats-wrapper {
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
					text-transform: uppercase;
					font-size: 14px;
					align-items: baseline;
					font-weight: 700;
					color: @black-font;
					flex-wrap: wrap;
					a {
						font-size: inherit;
						line-height: inherit;
						margin-left: 8px;
						margin-right: 2px;
						font-weight: 700;
					}
				}
			}
		}
		//
		//
		.mainside {
			padding-top: 35px;
			.article {
				.article-top {
					border-bottom: 1px solid @grey-4;
					margin: 0;
					padding: 2px 10px;
					margin-bottom: 2em;
					.article-top-text {
						margin: 0;
						text-align: right;
						font-size: 12px;
						.article-top-text-link {
							font-size: inherit;
							line-height: inherit;
							text-transform: uppercase;
							color: @black-font;
							line-height: inherit;
							font-weight: 700;
						}
						.article-top-text-separator {
							color: @grey-4;
							font-size: inherit;
							line-height: inherit;
							margin: 0 2px;
						}
						.article-top-text-date {
							color: @grey-4;
							font-size: inherit;
							line-height: inherit;
						}
					}
				}
				.article-content {
					.article-content-wrapper {

					}
				}
			}
			.author {
				margin-top: 35px;
				border-top: 1px solid @grey-4;
				padding-top: 20px;
				.author-info {
					padding-bottom: 15px;
					.author-info-wrapper {
						.author-info-wrapper-bio {
							.author-info-wrapper-bio-link {

							}
						}
					}
				}
				.author-readmore {
					.author-readmore-wrapper {
						.author-readmore-wrapper-loop {

						}
					}
				}
			}
		}
		//
		//
		.catreadmore {
			.catreadmore-wrapper {
				border-top: 1px solid @grey-4;
				padding-top: 15px;
			    margin-top: 10px;
			}
		}
		//
		//
		//




		.authorslist {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			flex-wrap: wrap;
			padding-top: 25px;
			//width: calc(100% + 20px);
			//margin-left: -10px;
			.authorslist-item {
				padding: 0 0 25px 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 0 10px 25px 10px;
				width: 100%;
				@media only screen and (min-width: @mobile-min) and (max-width: @mobile-max) {
					width: 50%;
				}
				@media only screen and (min-width: @tablet-min) and (max-width: @tablet-max) {
					width: 33.33333333%;
				}
				@media only screen and (min-width: @desktop-min) and (max-width: @desktop-max) {
					width: 25%;
				}
				@media only screen and (min-width: @desktop-large-min) {
					width: 20%;
				}
				.authorslist-item-link {
					font-family: 'Open Sans', sans-serif;
					font-weight: 700;
					line-height: 1.6em;
					font-size: 16px;
					color: @black-font;
					text-align: center;
					img {

					}
					span {
						margin-top: 5px;
					}
					&:hover, &:focus {
						text-decoration: none;
						color: @green-2;
					}
				}
			}
		}


		.pagination-wrapper {
			display: flex;
			flex-direction: row;
			justify-content: center;
			&.pagination-wrapper-cat {
				width: 100%;
				padding-top: 20px;
			}
			.page-numbers {
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-size: 14px;
				text-align: right;
				display: block;
				margin: 0 5px;
				text-decoration: underline;
			}
			.current {
				color: @black-font;
				text-decoration: none;
				font-weight: 700;
			}
			.dots  {
				text-decoration: none;
			}
			.prev {
				font-weight: 700;
				margin-left: 5px;
				text-decoration: none;
			}
			.next {
				font-weight: 700;
				margin-right: 5px;
				text-decoration: none;
			}
		}



		.aside-search {
			@media only screen and (max-width: @tablet-max) {
				display: none;
			}
		}



	}
}



.free-article {
	background: @white;
    position: absolute;
    right: 0;
    margin: 5px;
    padding: 0px 5px;
    font-size: 10px;
    border-radius: 3px;
    top: 0;
	box-shadow: @text-shadow-black;
}


.blocker-article-message {
	width: 100%;
	padding: 20px 0;
	.blocker-article-message-title {
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 10px;
		color: @green-2;
	}
	.blocker-article-message-text {
		font-size: 14px;
	}
}




.login-form {
	border: 1px solid @grey-1;
	padding: 20px;
	max-width: 400px;
	margin-top: 15px;
	border-radius: 3px;
	form {

	}
	p {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 14px;
		color: @black-font;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.login-username, .login-password {
		label {
			font-family: 'Open Sans', sans-serif;
			font-weight: 700;
			font-size: 14px;
		}
		input {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 14px;
			background: @grey-3;
			border: 0;
			padding: 5px 15px;
		}
	}
	.login-remember {
		font-size: 14px;
		label {
			font-size: 12px;
			input {

			}
		}
	}
	.login-submit {
		cursor: pointer;
		.button {
			padding: 3px 50px;
			background: @grey-3;
			font-weight: 700;
		    font-size: 14px;
		    align-self: flex-end;
			border: 0;
			cursor: pointer;
		}
	}
}
