//@mobile-max:            767px;
//@tablet-min:            768px;
//@tablet-max:            1023px;
//@desktop-min:           1024px;
//@desktop-max:           1279px;
//@desktop-super-min:     1280px;
//@desktop-super-max:     1600px;


@mobile-small-max:      479px;
@mobile-min:            480px;
@mobile-max:            767px;
@tablet-min:            768px;
@tablet-max:            991px;
@desktop-min:           992px;
@desktop-max:           1199px;
@desktop-large-min:     1200px;



@white: #ffffff;
@black: #000000;
@black-font: #272727;
@green-1: #1cdcc3;
@green-2: #11a491;
@green-3: #c3e8e3;
@blue-dark: #103445;
@grey-1: #5e6e78;
@grey-2: #c8d7d7;
@grey-3: #e9eeee;
@grey-4: #b9bdbd;
@grey-5: #323434;


@text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
